/* FOR DESKTOP */
@media all and (min-width: 700px) and (min-height: 600px) {
	:root {
		--desktop-intro-height: 15%;
        --desktop-sidebar-width: 25%;
	}

	/* HEADER INTRO */
	.header-intro {
		top: initial;
		bottom: 0px;
		height: var(--desktop-intro-height);
        justify-content: flex-start;
        right: var(--desktop-sidebar-width);
	}

	.intro-info {
		display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        padding: 10px;
        flex-basis: 100%;
	}

    .intro-info > * {
        height: 100%;
    }

	.tagline {
		display: flex;
        align-items: center;
	}

    .tagline h2 {
        font-size: 1.2rem;
    }

    .headline .title {
        font-size: 2rem;
        margin: 0;
    }

	.auxillary {
		display: block;
        width: 100%;
    }

    .player {
        margin-right: 10px;
    }

    .player, .taglist-common {
        display: inline-block;
    }
    
    .taglist-common .tag {
        margin: 0;
    }

    .actions { 
        display: flex;
        align-items: flex-start;
        height: 100%;
        padding: 1%;
    }

    .actions > * { 
        display: block;
        min-width: 0;
        min-height: 0; 
        background-color: yellow;
        color: black;
        border-radius: 5px;
        text-align: center;
        min-height: 0;
        min-width: 0;
        margin: 0 3px;
        padding: 3px 10px;
        font-weight: bold;
    }

	/* NAVIGATION */
	.navigation {
		top: 0px;
		bottom: initial;
		height: 5%;
	}

	.navigation .bi {
		display: none;
	}

	.navigation ul {
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		width: 100%;
		margin: auto;
		text-align: start;
		padding: 0 1%;
	}

	.navigation ul li {
		display: inline-block;
		list-style: none;
		min-height: 0;
		min-width: 0;
		width: auto;
		padding-right: 1%;
		font-size: 1.2em;
	}

	.navigation ul li:last-child {
		padding-right: 0px;
	}

	.navigation li a {
		text-align: left;
	}

	#link-list {
		display: none;
	}


    /* MAIN ELEMENT */
    main {
        right: var(--desktop-sidebar-width);
        bottom: var(--desktop-intro-height);
    }

    /* SIDEBAR */
    #sidebar {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: initial;
        width: var(--desktop-sidebar-width);
    }

    #sidebar >  .wrapper {
        background-color: #18181b;
    }

    #sidebar .side-title {
        display: flex; 
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        align-items: center;
        border-bottom: 2px solid black;
    }

    .side-title .pagination {
        display: flex;
    }

    .pagination div {
        margin: auto;
    }

    .subtitle a {
        color: var(--text-color);
    }

    .details {
        display: block;
        width: 100%;
        padding: 5px;
    }

    #sidebar nav {
        display: block;
        padding: 5px 0;
    }

    #sidebar nav h3 {
        display: block;
        text-shadow: -2px 3px 3px black;
    }

    #sidebar nav ul {
        display: block;
        overflow: initial;
        white-space: initial;
        text-align: left;
        margin: 0;
        width: 100%;
        padding: 5px;
    }

    #sidebar nav li {
        display: block;
        width: 100%;
        padding-right: 0px;
    }
    #sidebar nav li a {
        display: block;
        width: 100%;
        font-size: 1.1rem;
        color: var(--link-color);
        text-shadow: none;
    }
}
